@model IEnumerable<Amazoom.Models.Item>
@{
    ViewData["Title"] = "Home Page";
    
}

@using System.Linq
    @{  var Query = Model.GroupBy(
            (item => item.Name),
            (key, elements) => new
            {
                key = key,
                count = elements.Distinct().Count()
            }
        ); ;}
  
    
   
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<style>
    .box1 {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        color: white;
        background-image: url('@Url.Content("~/Images/shopping.png")');
        height: 250px;
        width: 1000px;
        border: 2px solid black;
        padding: 10px;
        margin: auto;
    }
        .box2 {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        color: white;
        background-image: url('@Url.Content("~/Images/warehouse2.png")');
        height: 250px;
        width: 1000px;
        border: 2px solid black;
        padding: 10px;
        margin: auto;
    }
    body {
        background-color: white;
    }

    Nav {
        width: 100%;
        height: 10rem;
        color: black;
    }
    .cardss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15rem;
    height: 20rem;
    border: 2px solid #1b1e21;
    border-radius: 1rem;
    align-items: center;
   }
   .containers{
   margin-top: 5rem;
   display: flex;
   width: 100%;
   gap: 3rem;
   
   }
   .images{
   width: 8rem;
   height: 8rem;
   }
   .details{
   display:flex;
   flex-direction: column;
   width: 70%;
   }
</style>

<div class="containers">
    @foreach (var item in Query)
    {
        <div class="cardss">
            <div class="images">
            </div>
            <div class="details">
                <p>@Html.DisplayFor(modelItem => item.key)</p>


                <p>Left in stock: @Html.DisplayFor(modelItem => item.count)</p>

                @{ var cartadd = Model.Where(m => m.Name == item.key).FirstOrDefault(); }
                <a asp-controller="Item" asp-action="CartAdd" asp-route-id="@cartadd.ID">Add to Cart </a>
            </div>
        </div>
    }
</div>